
	body{
		line-height: 1.5;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
	}
	
	.container{
		max-width: 1500px;
		margin:auto;
	}
	ul{
		list-style: none;
		margin:0;
		padding:0;
	}
	a{
		text-decoration: none;
	}
	/*header*/
	.header{
		position: absolute;
		width: 100%;
		left:0;
		top:0;
		z-index: 991;
		padding: 30px;
	}
	.header-main{
		background-color: #ece8e8;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
		border-radius: 8px;
		
	}
	.header .logo{
		padding: 0 30px;
	}
	.header .logo a{
		font-size: 30px;
		text-transform: capitalize;
		color: #2225faa1;
		font-weight: 600;
	}
	.header .nav-menu{
		padding: 0 30px;
	}
	.header .menu > .menu-item{
		display: inline-block;
		margin-left: 40px;
		position: relative;
	}
	.header .menu > .menu-item > a{
		display: block;
		padding: 8px 0;
		font-size: 20px;
		color: #000000;
		text-transform: capitalize;
		font-weight: 600;
		
	}
	.header .menu > .menu-item > a .plus{
		display: inline-block;
		height: 12px;
		width: 12px;
		position: relative;
		margin-left:5px; 
		pointer-events: none;
	}
	.header .menu > .menu-item > a .plus:before,
	.header .menu > .menu-item > a .plus:after{
		content:'';
		position: absolute;
		box-sizing: border-box;
		left: 50%;
		top:50%;
		background-color: #000000;
		height: 3px;
		width: 100%;
		transform: translate(-50%,-50%);
		
	}
	.header .menu > .menu-item:hover > a .plus:before,
	.header .menu > .menu-item:hover > a .plus:after{
	background-color: #e91e63;
	}
	.header .menu > .menu-item > a .plus:after{
	transform: translate(-50%,-50%) rotate(-90deg);	
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
	.header .menu > .menu-item:hover > a{
		color: #e91e63;
	}
	.header .menu > .menu-item > .sub-menu{
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		width: 230px;
		position: absolute;
		left:0;
		top:100%;
		background-color: #ece8e8;
		padding: 18px 0;
		border-top: 3px solid #e91e63;
		transform: translateY(10px);
		opacity: 0;
		visibility: hidden;
	}
	@media(min-width: 992px){
	.header .menu > .menu-item-has-children:hover > .sub-menu{
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	.header .menu > .menu-item-has-children:hover > a .plus:after{
		transform: translate(-50%,-50%) rotate(0deg);		
	}
	}
	.header .menu > .menu-item > .sub-menu > .menu-item{
		display: block;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		display: block;
		padding: 100px px;
		font-size: 20px;
		font-weight: 600;
		color: #000000;
		text-transform: capitalize;
	}
	
	.header .close-nav-menu{
		height: 40px;
		width: 40px;
		background-color: #ece8e8;
		margin:0 0 15px 15px;
		cursor: pointer;
		display: none;
		align-items: center;
		justify-content: center;
	}
	
	/*home section*/
	.home-section{
		align-items: center;
		color: #fff;
		justify-content: center;
	}

	.home-section video{
		width: 100%;
		margin-top: -150px;
		position: absolute;
		z-index: -1;
	}

/* content */
.content{
    width: 1500px;
    height: auto;
    margin: auto;
    color: #000000;
    position: relative;
}

.content .par{
    padding-left: 40px;
    padding-bottom: 40px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
	color: #fff;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 1px;
	color: #fff;
}

.content .cn{
    width: 160px;
    height: 40px;
    background:  #2225faa1;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color:  #2225faa1;
    font-size: 100px
}

/* .main{
	display: flex;
	color: rgb(129, 78, 78);
	font-family: 'Courier New', Courier, monospace;
	background-color: white;
	justify-content: center;
	align-items: center;
	margin: 100px;
} */
.main{
	    width: 95%;
		height: 95%;
		margin-top: -150px;
		position: absolute;
		z-index: -1;
}
	

/* calculator */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
	
.home-section-cal{
	margin-top: 150px;
}
/* End calculator */
